.input {
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    padding: 8px 15px;
    height: 40px;
    outline: none;
    transition: 0.15s all;
    font-weight: 400;
    appearance: none;
    -webkit-appearance: none;
    font-size: 16px;
    line-height: 150%;

    &:hover,
    &:focus {
        border: 1px solid #d4d4d4;
    }
}

.error {
    font-size: 12px;
    margin-top: 6px;
    color: rgb(204, 65, 65);
}

.row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    max-width: 100%;
    gap: 10px;

    @media (max-width: 600px) {
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;

        >div {
            @media (max-width: 600px) {
                grid-column: 1 / 3;
            }
        }
    }
}

.addTime {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    cursor: pointer;
    text-decoration: underline;
    color: #beb9b9;
    margin-top: 3px;
}

.times {
    display: grid;
    grid-auto-flow: row;
    gap: 15px;

    @media (max-width: 600px) {
        gap: 20px;
    }
}

.rowWrapper {
    display: grid;
    grid-template-columns: 1fr 28px;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 600px) {
        align-items: flex-start;
    }

}

.delete {
    color: #E1E1E1;
    width: 28px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s all;

    @media (hover:hover) {
        &:hover {
            color: rgb(204, 65, 65);
        }
    }
}