.wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
    background: #E6E6E6;

    * {
        font-family: var(--font-roboto);
    }
}

.box {
    padding: 20px 0;
    border-radius: 4px;
    width: 100%;
    max-width: 833px;
    background: #fff;
}

.title {
    font-weight: 700;
    font-size: 18px;
    text-wrap: nowrap;
    text-align: center;
}

.day {
    padding: 2px 8px;
    background: #F7F7F7;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    color: #AEAEAE;

    &:hover {
        background: #f0f0f0;
    }

    &.active {
        background: #f0f0f0;
        color: black;
    }
}

.days {
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
    padding-right: 20px;
    grid-auto-columns: auto;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.titleWrapper {
    padding-left: 20px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
    align-items: center;
    margin-bottom: 15px;
}

.times {
    display: grid;
    padding-right: 20px;
    align-items: center;
    grid-auto-flow: column;
    height: 31px;
}

.time {
    font-weight: 500;
    user-select: none;
    font-size: 14px;
    width: 50px;
    line-height: 150%;
    color: #B7B7B7;
}

.grid {
    display: grid;
    grid-auto-flow: column;
    gap: 25px;
    padding-left: 20px;
}

.usernames {
    user-select: none;
    margin-top: 31px;
    padding: 5px 15px;
    gap: 15px;
    display: grid;
    grid-auto-flow: row;
    background: #f4f4f4;
    border-radius: 4px;
}

.username {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #0B0B0B;
}

.itemsWrapper {
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    display: grid;
    grid-auto-flow: row;
}

.available {
    height: 20px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #5AD767;
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: 500;
    line-height: normal;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;
}

.row {
    width: 100%;
    height: 31px;
    position: relative;
}

.unavailable {
    opacity: 0.3;
}


.comment {
    background-color: black;
    padding: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    color: white;
    font-size: 10px;
}